'.lifeplay-mod.source':
  editor:
    tabLength: 4
    tabType: "soft"
    commentStart: "// "
'.lifeplay-scene.source':
  editor:
    tabLength: 4
    tabType: "soft"
    commentStart: "// "
    autoIndentOnPast: true
    increaseIndentPattern: "(?i)^( {4})*((?:else)?if .*|while .*|(?:else|random) *(?://.*)?)$"
    decreaseIndentPattern: "(?i)^( {4})*(end(?:if|while|random)|else(?:if)?)"
'.lifeplay-talkdesc.source':
  editor:
    tabLength: 4
    tabType: "soft"
    commentStart: "// "
    increaseIndentPattern: "(?i)^[^ ].*$"
    decreaseIndentPattern: "(?i)^( {1,4})##"
'.lifeplay-character.source':
  editor:
    commentStart: "// "
